*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html::-webkit-scrollbar{
    display: none;
}

*::selection { /* WebKit/Blink Browsers */
    background: rgb(252, 97, 97); 
    color: white;
}

*::-moz-selection { /*Gecko Browsers */
    background: rgb(252, 97, 97); 
    color: white;  
}

body{
    width:100%;
    height:100%;
    min-width: 1000px;
    overflow-y: hidden;
}

nav{
    width: none;/* Enable scrolling if the sidenav has too much content */
}

nav ul{
    display: none;
}
  
li a{
    display: none;
}
  
main{
    position: absolute;
    height: 100%;
    width: 100%;
}

.page h1{
    margin-top: 5vh;
    font-weight: bold;
    font-size: 6vh;
}

.page p{
    margin-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 400;
    font-size: 3vh;
}

.page{
    transform: scale(1.0);
    overflow-y: hidden; 
    overflow-x: hidden;
    z-index: -1;
    height: 100%;
    width: 100%;
    animation: breath 20s linear infinite;  
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
    text-align: center; 
    color: #ffffff;
}

#homePage{
    background-image: url("../images/homeBackgroundMobile.jpg");
}

#aboutMePage{
    background-image: url("../images/aboutMeBackgroundMobile.jpg");
}

#myWorkPage{
    background-image: url("../images/myWorkBackgroundMobile.jpg");
}

#resumePage{
    background-image: url("../images/resumeBackgroundMobile.jpg");
}

#contactMePage{
    background-image: url("../images/contactMeBackgroundMobile.jpg");
}

.mediaIcons li{
    margin: 2em 1em 0 0;
    display: inline-block;
}

.mediaIcons li a{
    cursor: pointer;
    color: white;
    font-size: 36px;
    transition: color 0.5s;
    display: inline-block;
}

.mediaIcons a:hover{
    color: red;
}

.specPage{ 
    z-index: -1000;
    overflow-x:hidden;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.712);
    padding: 0;
    color:white;
    text-align: center;
}

.specPage h1{
    font-weight: bold;
    font-size: 2rem;
}

.specPage p{
    font-size: 1rem;
}

.mainTitle{
    margin-top: 1.5em;
    font-weight: 600;
}

.mainParagraph{
    margin: 0 20% 5% 20%;
    text-align: center;
}

.paragraphHeader{
    margin-top: 1em;
}

.summaryParagraph{
    padding: 0 20%;
}

/* ################################################# About me Page #########################################################*/

.aboutMeColumns{
    width: 100%;
    text-align: center;
}

.detailsSection{    
    width: 100%;
    text-align: center;
}

.detailsSection h1{
    margin: 0.5em 0;
    font-weight: bold;
}

.detailsSection p{
    margin: 0 20% 5% 20%;
    text-align: center;
}

.detailsInfo{
    padding-left: 0;
}

.detailsInfo strong{
    color: rgba(0, 0, 0, 0.63);
    position: relative;
}

.detailsInfo span{
    position: relative;
}

.detailsInfo li{
    margin-bottom: 1em;
}

.skillsSection{
    width:100%;
    text-align: center;
}

.skillsSection h1{
    margin: 0.5em 0;
    font-weight: bold;
}

.skillsSection p{
    margin: 0 20% 5% 20%;
    text-align: center;
}

.skillsSection ul{
    all:revert;
    margin: 20px 20% 50px 20%;
    padding: 0;
}

.skillsSection li{
    margin: 0 0 25px 0;
}

.skillsInfo strong{
    color: rgba(0, 0, 0, 0.63);
}

.aboutMeButtons{
    width: 100%;
    text-align: center;
}

/*Buttons in about me page*/
.aboutMeButtonStyle1, .aboutMeButtonStyle2{
    color: white;
    text-decoration: none;
    background-color: #11ABB0;
    display: inline-block;
    width: 70%;
    margin: 0 10% 5% 10%;
    padding: 1em;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: bold;
}

.aboutMeButtonStyle1:hover{
    background-color: rgb(41, 41, 39);
    transition: 300ms;
}

.aboutMeButtonStyle2:hover{
    background-color: rgb(41, 41, 39);
    transition: 300ms;
}

/* ################################################# End of About me Page ######################################################### */

/* ################################################# My Work Page ######################################################### */

.image-container {
    position: relative;
    overflow: hidden;
    width: 80%;
    height: auto;
    display: inline-block;
    margin: 10% 2em;
    height: 200px;
}

.image-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay h1 {
    color: #fff;
    font-size: 18px !important;
    margin-bottom: 10px;
  }

.overlay p {
  color: #fff;
  font-size: 14px !important;
  margin-bottom: 10px;
  padding: 5px;
}

.overlay span {
  color: #fff;
  font-size: 36px;
}

.image-container:hover img {
  transform: scale(1.1);
}

.image-container:hover .overlay {
  opacity: 1;
}

/* ################################################# Navigation Arrows ######################################################### */

.arrowToNextPage{
    visibility: hidden;
}

.arrowToNextPage img{
    visibility: visible;
    position: fixed;
    bottom: 0%;
    right: 1%;
    height: 4rem;
    width: auto;
    cursor: pointer;

    /* Make element unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.backToTopArrow{
    visibility: hidden;
}

.backToTopArrow img{
    margin: 20px;
    visibility: visible;
    height: 4rem;
    width: auto;
    cursor: pointer;

    /* Make element unselectable */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ################################################# Contact Me page ######################################################### */

.contactSpecPage{
    background-image: url("../images/contactMeBackgroundMobile.jpg");
    animation: breath 20s linear infinite; 
    transform: scale(1.0);
    overflow-y: hidden; 
    overflow-x: hidden;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed;
    text-align: center; 
    /* width: 110%; */
}

.contactMeDetails {
    justify-content: center;
}

.contactMeEmail, .contactMeLinkedin{ 
    margin: 3em;
    font-size: 18px;
}

.contactMeEmail i{
    font-size: 4.2rem;
}


.contactMeLinkedin i{
    font-size: 4.2rem;
}

.contactMeLinkedinHyperlink{
    color : rgb(252, 97, 97);
}


/* ################################################# Timeline ######################################################### */
  
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 10px auto;
  color: #474e5d;
}

.timeline h2{
    font-size: 1.5rem;
}

.timeline p{
    font-size: 1rem;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid rgb(252, 97, 97);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* Button animation */
.button {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 
  
.button:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

.learnMoreHyperlink{
    text-decoration: underline;
    color:rgb(252, 97, 97);
}

#loading {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("http://i.stack.imgur.com/MnyxU.gif"); /*http://i.stack.imgur.com/MnyxU.gif*/  
    background-repeat: no-repeat;
    background-position: center;
}

.currentPage{
    color: red
}

.differentPage{
    color: white;
    
}

.differentPage :hover{
    color:red
}

@media screen and (min-width:950px){

    #homePage{
        background-image: url("../images/homeBackground.jpg");
    }

    #aboutMePage{
        background-image: url("../images/aboutMeBackground.jpg");
    }

    #myWorkPage{
        background-image: url("../images/myWorkBackground.jpg");
    }

    #resumePage{
        background-image: url("../images/resumeBackground.jpg");
    }

    #contactMePage{
        background-image: url("../images/contactMeBackground.jpg");
    }

    html::-webkit-scrollbar:not(.specPage){
        display: none;
    }

    nav{
        width: 10%;
        background-color: black;
        height: 100%; /* Full height */
        position: fixed; /* Make it stick, even on scroll */
        overflow: auto; /* Enable scrolling if the sidenav has too much content */
        z-index: 100;
    }
    
    nav ul{
        display: block;
        position: relative;
        top: 30%;
        padding: 50% 0;
    }
      
    li a{
        display: block;
        padding: 5% 20%;
        font-weight: bold;
        font-size: 20px;
    }
      
      /* Change the link color on hover */
    li a:hover{
        color: red;
    }

    main{
        position: absolute;
        height: 100%;
        width: 90%;
        margin-left: 10%;
        display: block;
        text-align: center;
    }

    .page h1{
        margin-top: 20%;
        font-size: 3rem;
    }

    .page p{
        padding-left: 30%;
        padding-right: 30%;
        font-size: 2rem;
    }

    .specPage{ 
        width: 90%;
    }

    .specPage h1{
        font-size: 3rem;
    }

    .specPage p{
        font-size: 2rem;
    }

    /* ################################################# About me Page #########################################################*/

    .detailsSection{
        width: 25%;
        margin: 0 10% 0 10%;
        display: inline-block;
        vertical-align: top;
    }

    .detailsSection p{
        margin: 0;
    }

    .detailsInfo strong, .skillsSection strong{
       font-size: 35px;
    }

    .detailsInfo span, .skillsSection span{
        font-size: 25px;
     }

    .skillsSection{
        width: 25%;
        margin: 0 10% 0 10%;
        display: inline-block;
        vertical-align: top;
    } 

    .skillsSection p{
        margin: 0;
    }

    .skillsSection ul{
        margin: 20px 0 50px 0;
    }

    .aboutMeButtonStyle1, .aboutMeButtonStyle2{
        padding: 25px;
        width: 200px;
        display: inline-block;
    }

    .aboutMeButtonStyle1{     
        margin: 0 5% 2% 0;
    }
    
    .aboutMeButtonStyle2{
        margin: 0 0 2% 5%;
    }

    /* ################################################# End of About me Page #########################################################*/

    /* ################################################# My Work Page #########################################################*/

    .overlay h1 {
        font-size: 24px !important;
      }
    
    .overlay p {
      font-size: 22px !important;
    }

    .image-container {
        width: 500px;
        height: 400px;
        margin: 0 2em 2em 0;
    }

    /* ################################################# Contact Me Page ######################################################### */

    .contactSpecPage{
        background-image: url("../images/contactMeBackground.jpg");
    }

    .contactMeDetails{
        display: flex;
    }

    .contactMeEmail, .contactMeLinkedin{ 
        margin: 5em;
        font-size: 18px;
    }

}

/*################################# Keyframes ################################# */
@keyframes breath {
    0%   { background-size: 100% 100%; }
    50% { background-size: 110% 110%; }
    100% { background-size: 100% 100%; }
}

@keyframes slideOut {
    0% { height: 100%; background-size: 100% 100%; }
    50% { height: 50%; background-size: 100% 100%; }
    75% { height: 15%; background-size: 100% 100%; }
    100% { height: 0%; background-size: 100% 100%; }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 0; }
}

@keyframes slideIn {
    0% { height: 0%; background-size: 100% 100%; }
    50% { height: 50%; background-size: 100% 100%; }
    75% { height: 85%; background-size: 100% 100%; }
    100% { height: 100%; background-size: 100% 100%; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

/*############################################################################# */